DATABASE_URI=mongodb://127.0.0.1/your-database-name
PAYLOAD_SECRET=YOUR_SECRET_HERE
FRONTEND_URL=http://localhost:5173

SMTP_HOST=XXX
SMTP_PORT=465
SMTP_USER=mail@test.com
SMTP_PASS=passowrd
SMTP_FROM_ADDRESS=mail@test.com
SMTP_FROM_NAME=ShareApp Mali Name
