@import "~payload/scss";

.rich-text-btn {
  font-weight: 600;
  border: solid 1px currentColor;
  padding: base(.25);
  font-family: 'Roboto Mono', monospace;
  font-size: base(.5);
  margin: 0 0 base(1);
}